<div class="container" *ngIf="playerTeam.length > 0 || opponentTeam.length > 0">
  <div class="opponent-pokemon">
    <img class="pokemon-icon" [src]="currentOpponentPokemon.sprites.front_default"/>
    <span class="hp">{{getStat('hp', currentOpponentPokemon).current_stat + '/' + getStat('hp', currentOpponentPokemon).lvl_stat}}</span>
    <span class="hp">{{currentOpponentPokemon.name}}</span><span class="level"> Lv. 50</span>
  </div>
  <div class="player-pokemon">
    <img class="pokemon-icon" [src]="currentPlayerPokemon.sprites.back_default"/>
    <span class="hp">{{getStat('hp', currentPlayerPokemon).current_stat + '/' + getStat('hp', currentPlayerPokemon).lvl_stat}}</span>
    <span class="hp">{{currentPlayerPokemon.name}}</span><span class="level"> Lv. 50</span>
  </div>
</div>

<div class="control-panel">
  <div class="console">{{currentMessage}}</div>
  <div class="fight-menu" *ngIf="playerTurn">
    <button (click)="menuFight = true" id="menu-fight-button" *ngIf="!menuFight && !menuPokemon">Kampf</button>
    <button (click)="menuPokemon = true" id="menu-pokemon-button" *ngIf="!menuFight && !menuPokemon">Pokemon</button>
    <button (click)="resetMenu()" *ngIf="menuPokemon || menuFight"  id="menu-back-button">zurück</button>

    <div class="attacks" *ngIf="menuFight">
      <button class="attack" *ngFor="let move of currentPlayerPokemon.moves" (click)="fight(move)">
        <span style="position: absolute; top: 0; left: 0">{{move.name}}</span>
        <span style="position: absolute; top: 0; right: 0">{{move.type.name}}</span>
        <span style="position: absolute; bottom: 0; right: 0">{{move.cpp + '/' + move.pp}}</span>
      </button>
    </div>

    <div class="pokemons" *ngIf="menuPokemon">
      <button class="pokemon" *ngFor="let pkmn of playerTeam" [disabled]="pkmn === currentPlayerPokemon" (click)="switchPokemon(pkmn)">
        <img style="position: absolute; height: 100%; left: 0; top: 0" [src]="pkmn.sprites.front_default"/>
        <span>{{pkmn.name}}</span>
        <span class="level" style="position: absolute; right: 5px">Lv. 50</span>
      </button>
    </div>
  </div>
</div>

