<div class="home">
  <div class="content">
    <div class="headers">
      <h1>Deine Pokémon</h1>
      <h1>Gegnerische Pokémon</h1></div>
    <div class="boxes">
      <div class="poke-list">
        <div *ngFor="let pokemon of playerTeam" class="pokediv">
          <img [src]="pokemon.sprites.front_default" [matTooltip]="pokemon.name">
          <button (click)="removeFromPlayer(pokemon)" class="delete" mat-icon-button><mat-icon>delete</mat-icon></button>
        </div>
        <div class="hint" *ngIf="playerTeam.length === 6">Team ist voll!</div>
      </div>
      <div class="poke-list">
        <div *ngFor="let pokemon of opponentTeam" class="pokediv">
          <img [src]="pokemon.sprites.front_default" [matTooltip]="pokemon.name">
          <button (click)="removeFromOponnent(pokemon)" class="delete" mat-icon-button><mat-icon>delete</mat-icon></button>
        </div>
        <div class="hint" *ngIf="opponentTeam.length === 6">Team ist voll!</div>
      </div>
    </div>

    <input type="text" class="search-input" placeholder="Search Pokemon"
           [matAutocomplete]="auto"
           (keyup)="searchTerm.next($event.target.value)">

    <mat-autocomplete #auto (optionSelected)="add($event)">
      <mat-option *ngFor="let pokemon of searchResults" [value]="pokemon.name" class="pokemon-option">
        <div class="pokemon-option">
          <img [src]="pokemon.sprites.front_default" height="64" width="64"/>
          <span>{{pokemon.name}}</span>
        </div>
      </mat-option>
    </mat-autocomplete>

    <button mat-flat-button (click)="addToPlayer()" *ngIf="currentSelection && playerTeam.length < 6">Zu meinem Team hinzufügen</button>
    <button mat-flat-button (click)="addToOponnent()" *ngIf="currentSelection && opponentTeam.length < 6">Zum gegnerischen Team hinzufügen</button>

    <button mat-raised-button class="float-right" (click)="startFight()" [disabled]="!canStart()">Start  ></button>
  </div>
</div>
