<div class="home">
  <div class="content">
    <div class="h-7">
      <h1 class="w-50 float-left">Deine Pokémon</h1>
      <h1 class="w-40 float-right">Gegnerische Pokémon</h1></div>
    <div class="h-10 mb-2">
      <div class="poke-list float-left">
        <div *ngFor="let pokemon of player" class="pokediv">
          <p>{{pokemon.name}}</p>
          <img [src]="pokemon.sprites.front_default">
          <button (click)="removeFromPlayer(pokemon)" class="delete" mat-icon-button><mat-icon>delete</mat-icon></button>
        </div>
      </div>
      <div class="poke-list float-right">
        <div *ngFor="let pokemon of opponent" class="pokediv">
          <p>{{pokemon.name}}</p>
          <img [src]="pokemon.sprites.front_default">
          <button (click)="removeFromOponnent(pokemon)" class="delete" mat-icon-button><mat-icon>delete</mat-icon></button>
        </div>
      </div>
    </div>

    <input type="text" class="search-input" placeholder="Search Pokemon"
           [matAutocomplete]="auto"
           (keyup)="searchTerm.next($event.target.value)">

    <mat-autocomplete #auto (optionSelected)="add($event)">
      <mat-option *ngFor="let pokemon of searchResults" [value]="pokemon" class="pokemon-option">
        <div class="pokemon-option">
          <img [src]="pokemon.sprites.front_default" height="64" width="64"/>
          <span>{{pokemon.name}}</span>
        </div>
      </mat-option>
    </mat-autocomplete>

    <button mat-flat-button (click)="addToPlayer()" *ngIf="currentSelection">Zu meinem Team hinzufügen</button>
    <button mat-flat-button (click)="addToOponnent()" *ngIf="currentSelection">Zum gegnerischen Team hinzufügen</button>

    <button mat-raised-button class="float-right" >Start  ></button>
  </div>
</div>
